<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <variable name="logDirectory" value="${environment:variable=ProgramData}/CCU_Alternative"/>
  <targets>
    <target name="file_info" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/Info/${shortdate}.txt"
          layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff}| ${level}${newline}${message}${newline}${newline}"/>
      </target>
    </target>
    <target name="file_error" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/Error/${shortdate}.txt"
          layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff}| ${level}${newline}${message}${newline}${newline}"/>
      </target>
    </target>
    <target name="console" xsi:type="Console"
      layout="${date:format=HH\:mm\:ss}| ${level:uppercase=false} | ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file_error"/>
    <logger name="*" minlevel="Warn" writeTo="file_info"/>
    <logger name="*" minlevel="Debug" writeTo="console"/>
  </rules>
</nlog>
